name: Rust_release_build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  
  publish_linux:
    name: Publish for Linux
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Compile dependencies
        run: sudo apt-get install gcc g++ make libsdl2-dev
      - name: Build debug
        run: cargo build --verbose
      - name: Test
        run: cargo test --verbose
      - name: Build release
        run: cargo build --release
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: target/release/dworld_rust
          asset_name: dworld_rust-linux
          tag: ${{ github.ref }}
          overwrite: true
          body: "DWorld releases for MacOS, Windows and Linux. 
          Note that for the game to run, you must download the 
          spritesheet from the source code and place it in the same folder as the executable"

  publish_windows:
    name: Publish for Windows
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build debug
        run: cargo build --verbose
      - name: Test
        run: cargo test --verbose
      - name: Build release
        run: cargo build --release
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: target/release/dworld_rust.exe
          asset_name: dworld_rust-windows
          tag: ${{ github.ref }}
          overwrite: true
          body: "Windows release of DWorld"

  publish_macos:
    name: Publish for MacOS
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Compile dependencies
        run: brew install pkg-config sdl2
      - name: Build debug
        run: cargo build --verbose
      - name: Test
        run: cargo test --verbose
      - name: Build release
        run: cargo build --release
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: target/release/dworld_rust
          asset_name: dworld_rust-macos
          tag: ${{ github.ref }}
          overwrite: true
          body: "MacOS release of DWorld"

